body {
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 150%;
    background-color: #10171F;
}

.title {
    margin: 0 auto;
    width: 700px;
}

a {
    text-decoration: none;
    color: #3ca3de;
}

a:hover {
    text-decoration: underline;
}

span.highlight {
    font-weight: 800;
    color: #fff;
}

.title h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff; 
    margin-bottom: 5px;
}


.title .social a {
    float: right;
    font-size: 14px;
}

.writing {
    width: 700px;
    margin: 0 auto;
    color: #CCC;
    font-size: 14px;
    margin-bottom: 20px;
}

.writing.first {
    margin-top: 80px;
}

.writing h2 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}

.writing h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 800;
    color: #3ca3de;
}

.twc {
    width: 700px;
    clear: both;
}

.twc .t {
    float: left;
    width: 400px;
    padding-right: 20px;
}

.twc .c {
    float: left;
    width: 280px;
}
