body {
	margin: 0 auto;
	width: 1200px;
	margin-top: 100px;
	margin-bottom: 100px;
	font-family: 'Open Sans', sans-serif;
	line-height: 150%;
	color: #000;
}

h1 {
	font-size: 25px;
	line-height: 40px;
	text-transform: uppercase;
	color: #1B2638;
}