.flow-holder {
    width: 1000px;
    height: 800px;
    margin-bottom: 15px;
}

.flow-holder .c {
	display: inline-block;
}

.flow-holder .c.c1 {
	width: 190px;
	height: 800px;
}

.flow-holder .c.c2 {
	width: 400px;
	height: 800px;
}

.flow-holder .c.c3 {
	width: 190px;
	height: 800px;
}

.flow-holder .c .logo {
	display: block;
	width: 72px;
	height: 72px;
}

.flow-holder .c .logo.text {
    padding-top: 15px;
}

.flow-holder .c.c1 .logo {
    clear: both;
	float: right;
}

.flow-holder .c.c3 .logo {
    clear: both;
	float: left;
}

.flow-holder .c .logo:hover {
	cursor: pointer;
}

.flow-holder .c .logo img {
	margin: 0 auto;
	max-width: 100%;
	max-height:100%;
}

.TSM {
	fill: #FFF;
	fill-opacity: 1.0;
}

.CLG {
	fill: #FFF;
	fill-opacity: 1.0;
}

.C9 {
	fill: #00A0E6;
	fill-opacity: 1.0;
}

.DIG {
	fill: #F5C451;
	fill-opacity: 1.0;
}

.CRS {
	fill: #FD5F12;
	fill-opacity: 1.0;
}

.EG {
	fill: #274A6B;
	fill-opacity: 1.0;
}

.LMQ {
	fill: #24A7DE;
	fill-opacity: 1.0;
}

.COL {
	fill: #980A0C;
	fill-opacity: 1.0;
}

.TL {
	fill: #00A7DB;
	fill-opacity: 1.0;
}

.WFX {
	fill: #615D8A;
	fill-opacity: 1.0;
}

.GV {
	fill: #EB1B23;
	fill-opacity: 1.0;
}

.T8 {
	fill: #008DC0;
	fill-opacity: 1.0;
}

.TIP {
	fill: #FF1045;
	fill-opacity: 1.0;
}

.CST {
	fill: #1950A8;
	fill-opacity: 1.0;
}

.FNC {
	fill: #F5AB17;
	fill-opacity: 1.0;
}

.ALL {
	fill: #D0D0D1;
	fill-opacity: 1.0;
}

.GMB {
	fill: #EF080C;
	fill-opacity: 1.0;
}

.SK {
	fill: #FFF;
	fill-opacity: 1.0;
}

.SHC {
	fill: #FF8900;
	fill-opacity: 1.0;
}

.ROC {
	fill: #359DD2;
	fill-opacity: 1.0;
}

.MIL {
	fill: #5F4CA0;
	fill-opacity: 1.0;
}

.CW {
	fill: #D3932B;
	fill-opacity: 1.0;
}

.UOL {
	fill: #D3536C;
	fill-opacity: 1.0;
}

.EL {
	fill: #228478;
	fill-opacity: 1.0;
}

.H2k {
	fill: #3894D1;
	fill-opacity: 1.0;
}

.GIA {
	fill: #1997D5;
	fill-opacity: 1.0;
}

.MYM {
	fill: #2E6AA6;
	fill-opacity: 1.0;
}

.NS {
	fill: #FFF;
	fill-opacity: 1.0;
}

rect.bar {
	fill: #FFF;
	fill-opacity: 0.5;
}

path.link {
	stroke: #FFF;
	stroke-opacity: 0.5;
	fill: #fff;
	fill-opacity: 0.1;
}