.flow-holder {
    width: 1000px;
    height: 850px;
    margin-bottom: 15px;
}

.flow-holder .c {
	display: inline-block;
}

.flow-holder .c.c1 {
	vertical-align: top;
	width: 100px;
	height: 850px;
}

.flow-holder .c.c2 {
	vertical-align: top;
	width: 700px;
	height: 850px;
}

.flow-holder .c.c3 {
	vertical-align: top;
	width: 100px;
	height: 850px;
}

image.logo:hover {
	cursor: pointer;
}

rect.node {
	stroke: #000;
	stroke-width: 1;
}

rect.node:hover {
	cursor: pointer;
}

path.link {
  fill: none;
  stroke: #fff;
  stroke-opacity: .3;
}