@import url(http://fonts.googleapis.com/css?family=Anton);

body {
	background: #222222;
	margin: 0 auto;
	width: 1000px;
	margin-top: 100px;
	margin-bottom: 100px;
	font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 150%;
	color: #fff;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
}

h1 span.highlight {
	color: #c49246;
}

a {
	color: #c49246;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.author {
	margin: 0 auto;
	width: 540px;
}

.author a {
	float: right;
}

.content {
	width: 540px;
	margin: 0 auto;
	margin-top: 50px;
}

.content p.footnotes {
    font-size: 12px;
    font-style: italic;
}
