@import url(http://fonts.googleapis.com/css?family=Anton);

body {
	background: #222222;
	margin: 0 auto;
	width: 1000px;
	margin-top: 100px;
	margin-bottom: 100px;
	font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 150%;
	color: #fff;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	line-height: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 150%;
}

h1 span.highlight {
	color: #c49246;
}

a {
	color: #c49246;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.author {
	margin: 0 auto;
	width: 540px;
    margin-bottom: 50px;
}

.author a {
	float: right;
}

.content {
	width: 540px;
	margin: 0 auto;
}

.content p.footnotes {
    font-size: 12px;
    font-style: italic;
}

.vis {
    width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.vis .cell {
    background: #191919;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-left: 20px;
    padding: 5 10 5 10;
}

.vis .cell h3 {
	color: #c49246;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    padding-left: 4px;
}

.vis .cell table {
    margin-top: 10px;
}

.vis .cell td {
    width: 70px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
}

span.red {
    color: #ff0000;
}

span.green {
    color: #00ff00;
}

span.neutral-positive {
    color: #AEC617;
}

span.neutral-negative {
    color: #FB6903;
}
