.vis {
	width: 1000px;
	height: 500px;

	margin-top: 50px;
}

.vis h2 {
	font-family: 'Anton', sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
}

.vis rect.TSM {
	fill: #5D5D5D;
}

.vis rect.C9 {
	fill: #26A2DC;
}

.vis rect.EMPTY {
	fill: #fff;
}

.vis rect.CLG {
	fill: #000;
}

.vis rect.DIG {
	fill: #FFCC00;
}

.vis rect.CRS {
	fill: #FF5F14;
}

.vis rect.COL {
	fill: #97191C
}

.vis rect.EG {
	fill: #2B679A;
}

.vis rect.LMQ {
	fill: #25AAE1
}

.vis rect.GV {
	fill: #052C45;
}

.vis rect.T8 {
	fill: #3697CB;
}

.vis rect.TIP {
	fill: #F92650;
}

.vis rect.TL {
	fill: #6EB1DB;
}

.vis rect.WFX {
	fill: #55598A;
}

.vis rect.CST {
	fill: #5B8DDB;
}

.vis rect:hover {
	stroke: #fff;
	stroke-width: 1;
	cursor: pointer;
}